@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lexend:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,600&display=swap');
.container {
    --color: #239ce2;
    padding: 10px;
    height: 100%;
  }
  @media print {
    .container {
      -webkit-print-color-adjust: exact;
    }
    }
  .header {
    position: absolute;
    display: flex;
    padding: 10px;
    flex-direction: column;
  }
  
  .header .heading {
    position: absolute;
    font-size: 24px;
    word-wrap: break-word;
    width: 170px;
    font-weight: 800;
    font-family: Inter;
    text-transform: uppercase;
  }
  
  .header .subHeading {
    position: absolute;
    margin-top: 70px;
    width: 200px;
    color: var(--color);
    font-weight: 500;
    font-family: Lexend;
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
  }
  
  .header .links {
    position: absolute;
    margin-left: 470px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    row-gap: 12px;
    font-size: 12px;
  }
  
  .header .link {
    display: flex;
    flex-direction: column;
  }

  .logo{
    position: absolute;
    background-color: var(--color);
    border-radius: 50%;
    padding: 5px;
    left: 100%;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
  }
  .header .link svg {
    background-color: var(--color);
    color: white;
    opacity: 1;
    font-size: 12px;
    justify-content: center;
    align-items: center;
  }

  .main {
    margin-top: 50px;
    display: flex;
    gap: 30px;
  }
  .col1 {
    position: relative;
    flex: 1.1;
    padding: 10px;
    display: flex;
    /* background-color: #F6F8FA; */
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    flex-direction: column;
    margin-top: 80px;
    margin-left: -30px;
    gap: 20px;
  }
  .col2 {
    margin-top: 90px;
    flex: 1.3;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .section .sectionTitle {
    font-size: 15px;
    font-family: Lexend;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
  }
  
  .section .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 16px;
    padding: 10px 0;
  }
  .section .content .item {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-bottom: 10px;
  }
  .section .content .item:last-child {
    border-bottom: none;
  }
  
  .content .title {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.3rem;
    font-weight: bold;
    color: var(--color);
    font-family: Lexend;
  }
  .content .etitle {
    font-weight: 500;
    font-size: 12px;
    font-weight: 400;
    font-family: Lexend;
  }
  .content .subTitle {
    font-weight: 600;
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .content .esubTitle{
    font-weight: 700;
    color: var(--color);
    font-size: 12px;
  }
  
  .content .overview {
    font-size: 12px;
    text-align: justify;
    margin-right: 20px;
    font-family: Lexend;
    opacity: 0.7;
  }
  
  .content .link {
    display: flex;
    gap: 5px;
    font-size: 0.75rem;
    cursor: pointer;
  }
  .content .link svg {
    height: 14px;
    width: 14px;
    color: var(--color);
  }
  
  .content .date {
    position: relative;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 12px;
  }
  .wdate{
    position: absolute;
    display: flex;
    font-size: 12px;
    margin-left: 16rem;
    margin-top: 30px;
    align-items: center;
    gap: 5px;
  }
  .location{
    display: flex;
    position: absolute;
    margin-left: 16rem;
    margin-top: 5px;
    align-items: center;
    gap: 5px;
    width: 40px;
    font-size: 12px;
  }
  .locText{
    position: absolute;
    max-width: 100px;
    word-wrap: break-word;
    width: 80px;
    margin-left: 16px
  }

  .content .date svg {
    height: 14px;
    width: 14px;
  }
  
  .content .points,
  .numbered {
    padding-left: 18px;
    margin-bottom: 2px;
    opacity: 0.7;
    font-size: 12px;
    font-family: Lexend;
    list-style-type: disc;
  }
  
  .numbered li {
    list-style-type: disc;
  }
  li{
    margin-bottom: 2px;
  }
  .hidden {
    display: none;
  }
  .proLink{
    display: flex;
    position: absolute;
    margin-left: 240px;
    flex-direction: row;
  }
  .plink{
    color: var(--color);
    width: 30px;
  }